@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
.ass-popup {
  font-family: 'Montserrat', serif;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
}

.ass-popup .card {
  padding: 1.5rem !important;
}

.ass-popup h5 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.ass-popup h6 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.ass-popup p {
  font-size: 14px;
  color: #6c757d !important;
  line-height: 1.35 !important;
}

.ass-popup a {
  color: #0d6efd !important;
}

.ass-popup button {
  font-family: 'Montserrat', serif;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #0d6efd;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.ass-popup button:hover {
  background: #0d6efd;
}
