.ass-2981728390813209-acronyms-found {
  color: #0d6efd !important;
  text-transform: capitalize !important;
  text-decoration: underline !important;
  font-weight: bold !important;
}

.ass-2981728390813209-acronyms-found:hover {
  color: #0a58ca !important;
}
